<form (submit)="sent.emit(messageText)" class="form-inline m-3" (keydown)="keyDownFunction($event)" (keyup)="keyUpFunction($event)">
    <textarea class="form-control" style="width: calc(100% - 136px)"  name="text" [(ngModel)]="messageText" (ngModelChange)="messageTextChange.emit($event)" autofocus></textarea>

    <button class="btn btn-primary ml-3" [disabled]="disabled">{{ 'Send' | translate }}</button>

</form>
