<div class="form-group row" [ngClass]="{'has-danger': errors}">
    <label *ngIf="label" [for]="label" class="col-md-4 col-form-label text-md-right">
        {{ label | translate }}
    </label>
    <div class="col-md-6">
        <input [(ngModel)]="data" (ngModelChange)="this.dataChange.emit($event)" (change)="change($event)" [id]="label"
               [type]="type" [placeholder]="placeholder" [name]="label" class="form-control">
        <div class="form-control-feedback" *ngFor="let error of errors">{{ error }}
        </div>
    </div>
</div>