<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ 'Profile' | translate }}</h4>
                <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
                    <div class="card card-inverse card-success mb-3 text-center" *ngIf="success_save">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>{{ 'Data was saved successfully!' | translate }}</p>
                            </blockquote>
                        </div>
                    </div>

                    <app-image-upload (imageChange)="imageChange($event)"></app-image-upload>
                    <app-input-field label="Name" [(data)]="profile.name" [errors]="errors.name"></app-input-field>
                    <app-input-field label="Email" [(data)]="profile.email" [errors]="errors.email"></app-input-field>
                    <app-input-field label="Old password" [(data)]="profile.old_password" [errors]="errors.old_password"
                                     type="password"></app-input-field>
                    <app-input-field label="New password" [(data)]="profile.password" [errors]="errors.password"
                                     type="password"></app-input-field>
                    <app-input-field label="Password confirmation" [(data)]="profile.password_confirmation"
                                     [errors]="errors.password_confirmation" type="password"></app-input-field>

                    <div class="form-group">
                        <div class="col-md-8 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                {{ 'Save' | translate }}
                            </button>
                            <a class="btn btn-link" routerLink="../">
                                {{ 'Cancel' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
