<select name="language"
        [(ngModel)]="languageCode"
        (change)="onChange($event.target.value)"
        style="width: 150px;"
        class="form-control"
        id="language">
  <option *ngFor="let lang of languages" [ngValue]="lang.code">{{ lang.name }}
  </option>
</select>
