<div class="card">
    <div class="card-header">
        <div>
           {{ 'Courses for ' | translate }} {{ user.name }}
        </div>
        <div>
            <button class="btn btn-primary" (click)="giveAccess()">{{ 'Grant access' | translate }}</button>
        </div>
    </div>
    <div class="card-block">
        <div *ngFor="let course of courses">
            <span>{{ course.name }}</span>
            <i class="pull-right fa fa-times" (click)="remove(course)"></i>
        </div>
    </div>
</div>