<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ 'Sign up to participate' | translate }}</h4>
                <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
                    <div class="form-group row" [ngClass]="{'has-danger': errors.name}">
                        <label for="name" class="col-md-4 col-form-label text-md-right">{{ 'First, last and middle names of a student' | translate }}</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="credentials.name" id="name" type="text" class="form-control"
                                   name="name">
                            <div class="form-control-feedback" *ngFor="let error of errors.name">{{ error }}</div>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-danger': errors.parent_name}">
                        <label for="parent_name" class="col-md-4 col-form-label text-md-right">{{ 'Last, first and middle names of a parent' | translate }}</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="credentials.parent_name" id="parent_name" type="text"
                                   class="form-control" name="parent_name">
                            <div class="form-control-feedback" *ngFor="let error of errors.parent_name">{{ error }}</div>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-danger': errors.email}">
                        <label for="email" class="col-md-4 col-form-label text-md-right">{{ 'Parent\'s email' | translate }}</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="credentials.email" id="email" type="text" class="form-control"
                                   name="email">
                            <div class="form-control-feedback" *ngFor="let error of errors.email">{{ error }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                {{ 'Send' | translate }}
                            </button>
                            <a class="btn btn-link" routerLink="/">
                                {{ 'Cancel' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
