<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">
      {{ module.name }}

      <!--<span class="pull-right" style="width: 200px" *ngIf="module.user_progress">-->
        <!--<ngb-progressbar [striped]="true" [value]="module.user_progress" title="{{ 'Current progress' | translate }}"></ngb-progressbar>-->
      <!--</span>-->
      <div class="pull-right">
        <i *ngFor="let i of module.problemsCountArray" class="fa fa-check-circle-o ml-1" style="font-size: 26px;" [ngStyle]="{'color' : module.solved_problems_count > i ? '#5cb85c' : '#ddd'}" aria-hidden="true"></i>
      </div>
    </h4>
    <p class="card-text">{{ module.description }}</p>
    <h4><a [routerLink]="['modules', module.id]" class="btn btn-primary float-right">{{ 'Enter' | translate }}</a></h4>
  </div>
</div>
