<div *ngIf="crumbs.length > 1">
  <span *ngFor="let crumb of crumbs; last as isLast">
    <span *ngIf="!isLast">
      <a [routerLink]="crumb.url">{{ crumb.title }}</a>
      <i class="fa fa-chevron-right"></i>
    </span>
    <span *ngIf="isLast"><a>{{ crumb.title }}</a></span>
  </span>
</div>
<!--<ol class="breadcrumb">-->
<!--<li class="breadcrumb-item" *ngFor="let crumb of crumbs; last as isLast" [ngClass]="{'active' : isLast}" >-->
<!--<a *ngIf="!isLast" [routerLink]="crumb.url">{{ crumb.title }}</a>-->
<!--<span *ngIf="isLast" [routerLink]="crumb.url">{{ crumb.title }}</span>-->
<!--</li>-->
<!--</ol>-->
