<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ 'Register' | translate }}</h4>
                <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
                    <app-input-field label="Name" [(data)]="credentials.name" [errors]="errors.name"></app-input-field>
                    <app-input-field label="Email" [(data)]="credentials.email"
                                     [errors]="errors.email"></app-input-field>
                    <app-input-field label="Phone" [(data)]="credentials.phone_number"
                                     [errors]="errors.phone_number" placeholder="+380671583887"></app-input-field>
                    <app-input-field label="Password" [(data)]="credentials.password" [errors]="errors.password"
                                     type="password"></app-input-field>
                    <app-input-field label="Password confirmation" [(data)]="credentials.password_confirmation"
                                     [errors]="errors.password_confirmation"
                                     type="password"></app-input-field>

                    <app-select-input-field label="I am a" [(selected)]="credentials.role" [options]="roles"
                                            [errors]="errors.role"></app-select-input-field>

                    <div class="form-group">
                        <div class="col-md-8 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                {{ 'Send' | translate }}
                            </button>
                            <a class="btn btn-link" routerLink="/">
                                {{ 'Cancel' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
