<div class="card mb-3" *ngIf="module">
    <div class="card-block">
        <h4 class="card-title">{{ module.name }}</h4>
        <p class="card-text">{{ module.description }}</p>
    </div>
    <table class="table mb-0">
        <thead>
        <tr>
            <th style="text-align: right; width: 42px"></th>
            <th style="text-align: left;">{{ 'ID' | translate }}</th>
            <th>{{ 'Name' | translate }}</th>
            <th style="text-align: center;">{{ 'Difficulty' | translate }}</th>
            <th style="text-align: center;">{{ 'Results' | translate }}</th>
            <th style="text-align: center;">{{ 'Points' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <ng-template [ngIf]="module.problems">
            <tr *ngFor="let problem of module.problems">
                <td style="text-align: right; padding: 0.25rem; font-size: 26px; color: #5cb85c"><i *ngIf="problem.solved" class="fa fa-check-circle-o" aria-hidden="true" title="{{ 'Problem resolved' | translate }}"></i></td>
                <td style="text-align: left;">{{ problem.localName }}</td>
                <td><a [routerLink]="['problems', problem.id]">{{ problem.name }}</a></td>
                <td style="text-align: center;">
                    <i class="fa fa-star ml-1" *ngFor="let a of problem.difficultyArray"></i>
                </td>

                <td style="text-align: center;">
                    <a *ngIf="problem.solutions && problem.solutions.length; else no_solutions"
                       [routerLink]="['problems', problem.id, 'solutions', problem.solutions[0].id]">
                        <span *ngFor="let status of problem.solutions[0].statuses"
                              class="mr-1 badge badge-{{ status.code == 'OK' ? 'success' : 'danger' }}">{{ status.code }}</span>
                        <span *ngIf="!problem.solutions[0].statuses.length">-</span>
                    </a>
                    <ng-template #no_solutions>-</ng-template>
                </td>
                <td style="text-align: center;">
                    <a *ngIf="problem.solutions !== undefined && problem.solutions.length; else no_solutions_for_percent"
                       [routerLink]="['problems', problem.id, 'solutions', problem.solutions[0].id]">
                        {{ problem.solutions[0].success_percentage ? problem.solutions[0].success_percentage : '-' }}
                    </a>
                    <ng-template #no_solutions_for_percent>-</ng-template>
                </td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>
