<div *ngFor="let note of notes">
  <span>
  {{ note.message }}
  </span>
    -
    <span>
    {{ note.author.name }}
  </span>
    <i class="fa fa-trash" *ngIf="note.author.id === visitorId" (click)="remove(note.id)"></i>
</div>
<div>
    <app-input-field
            [(data)]="message"
            [errors]="errors.message"
    ></app-input-field>
    <button class="btn btn-success" (click)="post()">{{ 'Post' | translate }}</button>
</div>