<div class="row">
    <div class="col-md-4">
        <label>{{ 'Courses' | translate }}</label>
        <app-multi-select
                [items]="courseSearchItems"
                placeholder="{{ 'Filter by course' | translate }}"
                (searchStringChange)="courseType($event)"
                (selectChange)="courseChange($event)"
        ></app-multi-select>
    </div>
    <div class="col-md-4">
        <label>{{ 'Languages' | translate }}</label>
        <app-multi-select
                [items]="languageSearchItems"
                placeholder="{{ 'Filter by language' | translate }}"
                (searchStringChange)="languageType($event)"
                (selectChange)="languageChange($event)"
        ></app-multi-select>
    </div>
    <div class="col-md-4">
        <label>{{ 'Students' | translate }}</label>
        <app-multi-select
                [items]="studentSearchItems"
                placeholder="{{ 'Filter by students' | translate }}"
                (searchStringChange)="userType($event)"
                (selectChange)="userChange($event)"
        ></app-multi-select>
    </div>
</div>
<table class="table table-striped">
    <thead app-sort-head [items]="headItems" (sort)="sortBy($event)"></thead>
    <tbody>
    <ng-container *ngFor="let group of solutionGroups">
        <tr (click)="open(group)">
            <td>
                <a [routerLink]="['/curator', 'courses', group.course_id, 'modules', group.module_id, 'problems', group.problem_id]">
                    {{ group.problems_name }}
                </a>
            </td>
            <td><a [routerLink]="['/profile', group.user_id]">{{ group.users_name }}</a></td>
            <td>{{ group.programming_languages_title }}</td>
            <td>
                <a [routerLink]="['/curator', 'courses', group.course_id]">
                    {{ group.courses_name }}
                </a>
            </td>
            <td>
                <button class="btn btn-primary" *ngIf="!group.comment_id && !group.comment; else commented"
                        (click)="comment(group)">
                    {{ 'Comment' | translate }}
                </button>
                <ng-template #commentContent><span>{{ group.comment ? group.comment.text : group.comments_text }}</span>
                </ng-template>
                <ng-template #commented><span [ngbTooltip]="commentContent">{{ 'Commented' | translate }}</span>
                </ng-template>
            </td>
        </tr>
        <tr *ngIf="group.open">
            <td [colSpan]="headItems.length">
                <app-solution-dropdown [group]="group"></app-solution-dropdown>
            </td>
        </tr>
    </ng-container>
    <tr *ngIf="!solutionGroups.length">
        <td [colSpan]="headItems.length">
            <app-loader></app-loader>
        </td>
    </tr>
    </tbody>
</table>

<ngb-pagination [collectionSize]="solutionGroupService.pageData.total"
                [page]="solutionGroupService.pageData.current_page"
                [pageSize]="solutionGroupService.pageData.per_page"
                (pageChange)="pageChange($event)"
></ngb-pagination>