<div class="card mb-3" *ngIf="solutions.length">
  <div class="card-block">
    <h4 class="card-title">
      <span>{{ 'All solutions' | translate }}</span>
    </h4>
  </div>
  <table class="table mb-1">
    <thead>
    <tr>
      <th style="text-align: center;">{{ 'ID' | translate }}</th>
      <th style="text-align: center;">{{ 'Problem' | translate }}</th>
      <th style="text-align: center;">{{ 'Date' | translate }}</th>
      <th style="text-align: center;">{{ 'Results' | translate }}</th>
      <th style="text-align: center;">{{ 'Points' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let solution of solutions">
      <td style="text-align: center;"><a [routerLink]="[
        '/student/courses', solution.course_id,
        'modules', solution.module_id,
        'problems', solution.problem_id,
        'solutions', solution.id
        ]">{{ solution.id }}</a>
      </td>
      <td style="text-align: center;">
        <a [routerLink]="[
        '/student/courses', solution.course_id,
        'modules', solution.module_id,
        'problems', solution.problem_id
        ]">
          {{ solution.problem.name }}
        </a>
      </td>
      <td style="text-align: center;">
        {{ solution.created_at }}
      </td>
      <td style="text-align: center;">
        <a [routerLink]="[
        '/student/courses', solution.course_id,
        'modules', solution.module_id,
        'problems', solution.problem_id,
        'solutions', solution.id
        ]">
          <span *ngFor="let status of solution.statuses" class="mr-1 badge badge-{{ status.code == 'OK' ? 'success' : 'danger' }}">{{ status.code }}</span>
          <span *ngIf="!solution.statuses.length">-</span>
        </a>
      </td>
      <td style="text-align: center;">
        <a [routerLink]="[
        '/student/courses', solution.course_id,
        'modules', solution.module_id,
        'problems', solution.problem_id,
        'solutions', solution.id
        ]">
          {{ solution.success_percentage !== null ? solution.success_percentage : '-' }}
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="mr-3 pull-right">
    <ngb-pagination [collectionSize]="solutionService.pageData.total"
                    [page]="solutionService.pageData.current_page"
                    [pageSize]="solutionService.pageData.per_page"
                    (pageChange)="pageChange($event)"></ngb-pagination>
  </div>
</div>

<div *ngIf="solutions.length === 0" class="card mb-3">
  <div class="card-block">
    <p class="card-text">{{ 'You have not submitted any solutions yet!' | translate }}</p>
  </div>
</div>
