<div class="container" *ngIf="solution">
  <div class="card mb-3">
    <div class="card-block">
      <div class="card-title">
        <h2 class="pull-left">{{ 'Solution' | translate }} #{{ solution.id }}</h2>
        <button class="btn btn-primary pull-right mb-3" (click)="discuss()">
          {{ (isStudent ? 'Ask a question' : 'Comment') | translate  }}
        </button>
      </div>
      <table class="table">
        <tr>
          <td>{{ 'Author' | translate }}</td>
          <td *ngIf="solution.user">{{ solution.user.name }}</td>
        </tr>
        <tr>
          <td>{{ 'Programming language' | translate }}</td>
          <td>{{ solution.programming_language.title }}</td>
        </tr>
        <tr>
          <td>{{ 'Sent at' | translate }}</td>
          <td>{{ solution.created_at }}</td>
        </tr>
        <tr>
          <td>{{ 'Points' | translate }}</td>
          <td *ngIf="solution.isTested()">{{ solution.success_percentage.toFixed(2) }}%</td>
          <td *ngIf="!solution.isTested()"><app-loader></app-loader></td>
        </tr>
        <tr>
          <td>{{ 'Result' | translate }}</td>
          <td *ngIf="solution.isTested()"><span *ngFor="let status of solution.statuses" class="mr-1 badge badge-{{ status.code == 'OK' ? 'success' : 'danger' }}">{{ status.code }}</span></td>
          <td *ngIf="!solution.isTested()"><app-loader></app-loader></td>
        </tr>
        <tr>
          <td>{{ 'Maximal amount of memory' | translate }}</td>
          <td *ngIf="solution.isTested()">{{ (solution.max_memory / 1000).toFixed(0) }}kb</td>
          <td *ngIf="!solution.isTested()"><app-loader></app-loader></td>
        </tr>
        <tr>
          <td>{{ 'Maximal amount of time' | translate }}</td>
          <td *ngIf="solution.isTested()">{{ solution.max_time.toFixed(0) }}ms</td>
          <td *ngIf="!solution.isTested()"><app-loader></app-loader></td>
        </tr>
      </table>
      <app-ace-editor *ngIf="solution.programming_language" class="ace-editor" [mode]="solution.programming_language.ace_mode"
                      [code]="solution.code"></app-ace-editor>
      <button class="btn btn-primary mt-3 pull-right" (click)="storeSolution()">{{ 'Resend solution' | translate }}</button>
    </div>
  </div>
  <div class="card" *ngIf="solution.reports.length">
    <div class="card-block">
      <div class="card-title"><h4>{{ 'Reports' | translate }}</h4></div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th style="text-align: center;">{{ 'Result' | translate }}</th>
        <th style="text-align: center;">{{ 'Time' | translate }}</th>
        <th style="text-align: center;">{{ 'Final decision' | translate }}</th>
        <th style="text-align: center;">{{ 'Memory' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of solution.reports">
        <td style="text-align: center;">
          {{ solution.successful_reports ? (solution.success_percentage / solution.successful_reports).toFixed(2) : 0.00 }}
        </td>
        <td style="text-align: center;">
          {{ report.execution_time ? report.execution_time.toFixed(0) + 'ms' : '-'}}
        </td>
        <td style="text-align: center;">
          <span class="badge badge-{{ report.status == 'OK' ? 'success' : 'danger' }}">{{ report.status }}</span>
        </td>
        <td style="text-align: center;">
          {{ report.memory_peak ? (report.memory_peak / 1000).toFixed(0) + 'kb' : '-'}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
