<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{ 'Conversation' | translate }}</h4>
    <div class="conversation-box">
      <div #dialogContainer (scroll)="scrolled($event)" class="conversation-container">
        <div class="conversation-loader" *ngIf="loading"><app-loader></app-loader></div>
        <!-- @TODO: count height from JS -->

        <div *ngFor="let message of messages">
          <div class="row" [ngClass]="{'mt-3': message.show_user}">
            <div *ngIf="message.show_user" class="conversation-avatar-box">
              <div>
                <a [routerLink]="['/profile', message.user_id]"><img class="conversation-avatar" [src]="message.user.avatar"></a>
              </div>
            </div>
            <div [ngClass]="{'conversation-first-message-box': message.show_user, 'conversation-next-message-box': !message.show_user}">
              <div *ngIf="message.show_user" class="conversation-message-author">
                <a [routerLink]="['/profile', message.user_id]">{{ message.user.name }}</a>
              </div>
              <div class="conversation-message-time-box">
                <div class="conversation-message-time">
                  <i class="fa fa-check conversation-message-is-read-icon" *ngIf="message.is_read"></i> {{ message.created_at | messageDate }}
                </div>
              </div>
              <div class="conversation-message-text">{{ message.message }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-send-message-form [(disabled)]="isSendButtonDisabled" [(messageText)]="messageText" (sent)="sendMessage()"></app-send-message-form>
</div>

