.conversation-box {
  position: relative;
  height: 500px;
}

.conversation-container {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.conversation-avatar-box {
  width: 55px;
}

.conversation-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: right;
}

.conversation-first-message-box {
  width: calc(100% - 85px);
  padding-left: 15px;
}

.conversation-next-message-box {
  margin-left: 55px;
  width: calc(100% - 70px);
  padding-right: 15px;
  padding-left: 15px;
}

.conversation-message-text {
  word-wrap: break-word;
  display: inline-block;
}

.conversation-message-author {
  display: inline-block;
  width: 100%;
}

.conversation-message-time-box {
  display: inline-block;
  float: right;
}

.conversation-message-time {
  color: #7b7b7b;
  font-family: monospace;
}

.conversation-message-is-read-icon {
  color: #0275d8;
}

.conversation-loader {
  height: 24px;
  width: 18px;
  text-align: center;
  margin-left: calc(50% - 9px);
}
