<label for="get-pending">{{ 'Waiting for response' | translate }}</label>
<input id="get-pending" type="checkbox" name="get_pending" [disabled]="loading" [(ngModel)]="pending"
       (change)="pendingChange()"/>
<div class="row">
    <div class="col-md-3">
        <app-multi-select
                [placeholder]="'Filter by course' | translate"
                [items]="courseSearchItems"
                [multiple]="false"
                (searchStringChange)="courseType($event)"
                (selectChange)="courseChange($event)"
        ></app-multi-select>
    </div>
</div>
<app-conversations [pending]="pending"></app-conversations>