<!--<div class="card">-->
<!--<div class="card-block">-->

<!--</div>-->
<!--<div class="card-block">-->
<!--<app-login></app-login>-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<div class="row">-->
<!--<div class="col-8 offset-2">-->
<!--<div class="card">-->
<!--<div class="card-block">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="btn btn-success" routerLink="/register">{{ 'I\'m a parent' | translate }}</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<div class="btn btn-primary" routerLink="/register-student">{{ 'I\'m a student' | translate }}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container text-center">
  <h1 class="display-3">Q-bit Online</h1>
  <p class="lead text-muted mb-5">Платформа для изучения программирования и развития навыков алгоритмического мышления</p>

  <h1 style="font-weight: 300; font-size: 2rem;">Индивидульный подбор курса</h1>
  <h1 style="font-weight: 300; font-size: 2rem;">Интересные метапредметные задачи</h1>
  <h1 style="font-weight: 300; font-size: 2rem;">Онлайн консультации</h1>
  <h1 style="font-weight: 300; font-size: 2rem;">24/7 Тестирование и проверка решений</h1>
  <h1 style="font-weight: 300; font-size: 2rem;">Более 20 языков программирования: <app-langs-preview></app-langs-preview></h1>
  <h1 style="font-weight: 300; font-size: 2rem; margin-bottom: 3rem;">Code-Review</h1>
  <div class="embed-responsive embed-responsive-16by9">
    <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZXsQAXx_ao0?rel=0&autoplay=0" allowfullscreen></iframe>-->
  </div>
</div>
