<ng-template [ngIf]="user.id">
    <div class="card mb-3" style="width: fit-content; margin: 0 auto;">
        <div class="card-block">
          <h4 class="card-title">
            {{ user.name }} <a *ngIf="canEdit" [routerLink]="['./edit']"><i class="fa fa-pencil-square-o"></i></a>
          </h4>
          <img class="float-right ml-3" style="border-radius: .25rem; " [src]="user.avatar || ''">
          <table class="table" style="width: auto;">
            <tr>
              <td>{{ 'Email' | translate }}</td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td>{{ 'Registered since' | translate }}</td>
              <td>{{ user.created_at }}</td>
            </tr>
          </table>
        </div>
    </div>
    <div class="card" *ngIf="showNotes">
        <div class="card-header">
            <h3>Заметки куратора</h3>
        </div>
        <div class="card-block">
            <app-profile-notes [userId]="user.id"></app-profile-notes>
        </div>
    </div>
</ng-template>
