<!--<button class="btn btn-primary" routerLink="../add-child">{{ 'Add a child' | translate }}</button>-->

<h4 class="card-title">{{ 'My children' | translate }}</h4>

<div class="row">
  <div class="col-md col-md-6 p-3" *ngFor="let child of children">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          {{ child.name }} <a [routerLink]="['/profile', child.id, 'edit']"><i class="fa fa-pencil-square-o"></i></a>
        </h4>
        <ul *ngIf="!child.can_buy">
          <li>{{ 'Course progress' | translate }} {{ child.progress.courseProgress }}%</li>
          <li><span [ngStyle]="{'color': child.progress.academicPerformanceColor}">{{ child.progress.academicPerformanceName | translate }}</span></li>
        </ul>

        <p class="card-text" style="height: 400px" *ngIf="!child.can_buy">
          <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="chartData[child.id]"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale">
          </ngx-charts-line-chart>
        </p>
        <div *ngIf="child.can_buy">
          <p>{{ 'Your child\'s progress will be displayed here' | translate }}</p>
        </div>
        <p class="card-text">
          <a class="btn btn-primary pull-right" *ngIf="child.can_buy" routerLink="/parent/courses"
             [queryParams]="{studentId: child.id}">{{ 'Information about course' | translate }}</a>
          <a href="javascript:void(0);" class="btn btn-primary pull-right mr-3" *ngIf="!child.is_scheduled" (click)="schedule(child)">
            {{ 'Appoint an interview' | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

