<div class="card" *ngIf="course">
  <div class="card-block">
    <h4 class="card-title">{{ course.name }}</h4>
    <div class="mb-3" [innerHTML]="course.content"></div>
    <h4>{{ course.price }} {{ 'UAH' | translate }}<a href="javascript:void(0);" (click)="buy()" class="btn btn-success float-right">{{ 'Buy' | translate }}</a></h4>
  </div>
</div>
