<div class="row">
    <div class="col-md-8 offset-md-2">


        <div class="form-control-feedback">{{ errors.error }}</div>
        <div *ngIf="success">{{ 'Email\'s confirmed!' | translate }}</div>


    </div>
</div>