<div *ngIf="loaded">
  <simple-notifications [options]="notification_options"></simple-notifications>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        Copyright © 2017 МНО Q-Bit, разработка и техническая поддержка.
        При использовании материалов сайта ссылка на QBit.org.ua обязательна.
      </span>
    </div>
  </footer>
</div>
<div *ngIf="!loaded" style="position: absolute; left: 50%; top: 50%;">
  <app-loader [scale]="5"></app-loader>
</div>
