
.simple-notification {

  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background-color: #f5f5f5;
}
