<div *ngFor="let course of courses" class="card mb-3">
    <div class="card-block">
        <h4 class="card-title">{{ course.name }}
            <!--<a [routerLink]="['/course', course.id, 'about']">Подробнее</a>-->
        </h4>
        <p class="card-text">{{ course.description }}</p>
    </div>
</div>
<div *ngIf="courses.length === 0" class="card mb-3">
  <div class="card-block">
    <p class="card-text">{{ 'You have not finished any courses yet!' | translate }}</p>
  </div>
</div>

