<div [ngClass]="{row: student}">
    <div *ngIf="student" class="col-md-4">
        <app-user-course-container [(courses)]="selectedCourses" [user]="student"></app-user-course-container>
    </div>
    <div [ngClass]="{'col-md-8': student}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'id' | translate }}</th>
                <th>{{ 'Name' | translate }}</th>
                <th>{{ 'Price' | translate }}</th>
                <th>{{ 'Action' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of courses">
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.price }}</td>
                <td >
                    <a class="btn btn-primary" [routerLink]="['./', c.id]">{{ 'Enter' | translate }}</a>
                    <button class="btn btn-primary" *ngIf="student" (click)="giveAccess(c)">{{ 'Grant access' | translate }}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>