<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ 'Sign in' | translate }}</h4>
                <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">

                    <div class="form-group row" [ngClass]="{'has-danger': errors.login}">
                        <label for="login" class="col-md-4 col-form-label text-md-right">
                            {{ 'E-Mail Address / Login' | translate }}
                        </label>
                        <div class="col-md-6">
                            <input [(ngModel)]="credentials.login" id="login" type="text" class="form-control"
                                   name="login">
                            <div class="form-control-feedback" *ngFor="let error of errors.login">{{ error }}</div>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{'has-danger': errors.password}">
                        <label for="password" class="col-md-4 col-form-label text-md-right">
                            {{ 'Password' | translate }}
                        </label>

                        <div class="col-md-6">
                            <input [(ngModel)]="credentials.password" id="password" type="password" class="form-control"
                                   name="password">
                            <div class="form-control-feedback" *ngFor="let error of errors.password">{{ error }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 offset-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" [(ngModel)]="remember">
                                    {{ 'Remember Me' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                {{ 'Login' | translate }}
                            </button>

                            <a routerLink="/pass-forgot" routerLinkActive="active">
                                {{ 'Forgot Your Password?' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
