<table class="table table-striped">
  <thead>
  <tr>
    <th>{{ 'Name' | translate }}</th>
    <th>{{ 'Email' | translate }}</th>
    <th>{{ 'Action' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of users">
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
    <td>
      <a routerLink="/curator/courses" [queryParams]="{studentId: u.id}">{{ 'Grant access to courses' | translate }}</a>
      <a (click)="sendMessage(u.id)" href="javascript:void(0)">{{ 'Write' | translate }}</a>
    </td>
  </tr>
  </tbody>
</table>