<table class="table table-striped">
  <thead>
  <tr>
    <th>{{ 'id' | translate }}</th>
    <th>{{ 'Name' | translate }}</th>
    <th>{{ 'Difficulty' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of problems">
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.difficulty}}</td>
  </tr>
  </tbody>
</table>