<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">{{ course.name }}
      <a [routerLink]="['/course', course.id, 'about']">{{ 'About' | translate }}</a>
    </h4>
    <p class="card-text">{{ course.description }}</p>
    <!--<h4 *ngIf="!course.user_has_access">{{ course.price }} грн. <a [routerLink]="['/course', course.id, 'buy']" class="btn btn-primary float-right">Купить</a></h4>-->
    <!--<h4 *ngIf="course.user_has_access"><a [routerLink]="['/course', course.id]" class="btn btn-primary float-right">Войти</a></h4>-->
  </div>
</div>
