<div class="card">
  <div class="card-block">
    <div class="mb-4">
      <div style="    border-right: 1px;
    height: 100%;
    display: inline-block;
    width: 100px;
    float:left;
    font-size: 2.5rem;">
        2017
      </div>
      <div style="display: inline-block;
    width: calc(100% - 105px);
    border-left: 1px solid;
    padding-left: 15px;">
        In lacinia ultricies venenatis. In pellentesque interdum mollis. Etiam lacinia ex mi, vel sollicitudin ipsum molestie a. Sed posuere leo nec blandit facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam feugiat nunc quis fermentum placerat. Vestibulum eu ultrices nulla, vitae consequat leo. Vivamus cursus justo ut ligula auctor efficitur. Sed nisi dolor, interdum vitae odio a, rutrum vulputate odio. Phasellus pharetra nibh eget velit laoreet, nec gravida massa tincidunt. Vestibulum at risus posuere, viverra felis non, varius nulla. Aliquam sed arcu mi.
      </div>
    </div>


    <div class="mb-4">
      <div style="    border-right: 1px;
    height: 100%;
    display: inline-block;
    width: 100px;
    float:left;
    font-size: 2.5rem;">
        2017
      </div>
      <div style="display: inline-block;
    width: calc(100% - 105px);
    border-left: 1px solid;
    padding-left: 15px;">
        In lacinia ultricies venenatis. In pellentesque interdum mollis. Etiam lacinia ex mi, vel sollicitudin ipsum molestie a. Sed posuere leo nec blandit facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam feugiat nunc quis fermentum placerat. Vestibulum eu ultrices nulla, vitae consequat leo. Vivamus cursus justo ut ligula auctor efficitur. Sed nisi dolor, interdum vitae odio a, rutrum vulputate odio. Phasellus pharetra nibh eget velit laoreet, nec gravida massa tincidunt. Vestibulum at risus posuere, viverra felis non, varius nulla. Aliquam sed arcu mi.
      </div>
    </div>
    <div class="mb-4">
      <div style="    border-right: 1px;
    height: 100%;
    display: inline-block;
    width: 100px;
    float:left;
    font-size: 2.5rem;">
        2017
      </div>
      <div style="display: inline-block;
    width: calc(100% - 105px);
    border-left: 1px solid;
    padding-left: 15px;">
        In lacinia ultricies venenatis. In pellentesque interdum mollis. Etiam lacinia ex mi, vel sollicitudin ipsum molestie a. Sed posuere leo nec blandit facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam feugiat nunc quis fermentum placerat. Vestibulum eu ultrices nulla, vitae consequat leo. Vivamus cursus justo ut ligula auctor efficitur. Sed nisi dolor, interdum vitae odio a, rutrum vulputate odio. Phasellus pharetra nibh eget velit laoreet, nec gravida massa tincidunt. Vestibulum at risus posuere, viverra felis non, varius nulla. Aliquam sed arcu mi.
      </div>
    </div>
    <div class="mb-4">
      <div style="    border-right: 1px; height: 100%;
    display: inline-block;
    width: 100px;
    float:left;
    font-size: 2.5rem;">
        2017
      </div>
      <div style="display: inline-block;
    width: calc(100% - 105px);border-left: 1px solid;
    padding-left: 15px;">
        In lacinia ultricies venenatis. In pellentesque interdum mollis. Etiam lacinia ex mi, vel sollicitudin ipsum molestie a. Sed posuere leo nec blandit facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam feugiat nunc quis fermentum placerat. Vestibulum eu ultrices nulla, vitae consequat leo. Vivamus cursus justo ut ligula auctor efficitur. Sed nisi dolor, interdum vitae odio a, rutrum vulputate odio. Phasellus pharetra nibh eget velit laoreet, nec gravida massa tincidunt. Vestibulum at risus posuere, viverra felis non, varius nulla. Aliquam sed arcu mi.
      </div>
    </div>
    <div class="mb-4">
      <div style="    border-right: 1px;
    height: 100%;
    display: inline-block;
    width: 100px;
    float:left;
    font-size: 2.5rem;">
        2017
      </div>
      <div style="display: inline-block;
    width: calc(100% - 105px);
    border-left: 1px solid;
    padding-left: 15px;">
        In lacinia ultricies venenatis. In pellentesque interdum mollis. Etiam lacinia ex mi, vel sollicitudin ipsum molestie a. Sed posuere leo nec blandit facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam feugiat nunc quis fermentum placerat. Vestibulum eu ultrices nulla, vitae consequat leo. Vivamus cursus justo ut ligula auctor efficitur. Sed nisi dolor, interdum vitae odio a, rutrum vulputate odio. Phasellus pharetra nibh eget velit laoreet, nec gravida massa tincidunt. Vestibulum at risus posuere, viverra felis non, varius nulla. Aliquam sed arcu mi.
      </div>
    </div>
  </div>
</div>
