<div class="form-group row" [ngClass]="{'has-danger': errors}">
    <label *ngIf="label" [for]="label" class="col-md-4 col-form-label text-md-right">
        {{ label | translate }}
    </label>
    <div class="col-md-6">
        <select (change)="change($event)" [name]="label" [id]="label" class="form-control">
            <option *ngFor="let option of options" [selected]="option.key === selected" [value]="option.key">
                {{ option.value }}
            </option>
        </select>
        <div class="form-control-feedback" *ngFor="let error of errors">{{ error }}
        </div>
    </div>
</div>