<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ 'Register' | translate }}</h4>
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
          <div class="form-group row" [ngClass]="{'has-danger': errors.name}">
            <label for="name" class="col-md-4 col-form-label text-md-right">{{ 'Name' | translate }}</label>
            <div class="col-md-6">
              <input [(ngModel)]="credentials.name" id="name" type="text" class="form-control"
                     name="name">
              <div class="form-control-feedback" *ngFor="let error of errors.name">{{ error }}</div>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-danger': errors.email}">
            <label for="email" class="col-md-4 col-form-label text-md-right">{{ 'Email' | translate }}</label>
            <div class="col-md-6">
              <input [(ngModel)]="credentials.email" id="email" type="text" class="form-control"
                     name="email">
              <div class="form-control-feedback" *ngFor="let error of errors.email">{{ error }}</div>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-danger': errors.password}">
            <label for="password" class="col-md-4 col-form-label text-md-right">{{ 'Password' | translate }}</label>
            <div class="col-md-6">
              <input [(ngModel)]="credentials.password" id="password" type="password" class="form-control"
                     name="password">
              <div class="form-control-feedback" *ngFor="let error of errors.password">{{ error }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="password-confirmation" class="col-md-4 col-form-label text-md-right">{{ 'Password confirmation' | translate }}</label>
            <div class="col-md-6">
              <input [(ngModel)]="credentials.password_confirmation" id="password-confirmation"
                     type="password" class="form-control" name="password-confirmation">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary">
                {{ 'Send' |  translate }}
              </button>
              <a class="btn btn-link" routerLink="/">
                {{ 'Cancel' | translate }}
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
