<div>
    <input
            name="search"
            [placeholder]="placeholder"
            (click)="open = true"
            [(ngModel)]="searchString"
            (ngModelChange)="searchStringChange.next($event)"
            autocomplete="off"
    >
    <div>
        <span *ngFor="let item of selectedItems">{{ item.name }} <span (click)="deselect(item)">X</span></span>
    </div>
</div>
<ul class="dropdown" *ngIf="open">
    <li *ngFor="let item of items">
        <a (click)="select(item)">{{ item.name }}</a>
    </li>
</ul>