<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ 'Forgot your password?' | translate }}</h4>
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
          <div class="form-group row" [ngClass]="{'has-danger': errors.email}">
            <label for="email" class="col-md-4 col-form-label text-md-right">{{ 'Email Address: ' | translate }}</label>
            <div class="col-md-6">
              <input [(ngModel)]="credentials.email" id="email" type="text" class="form-control" name="email"> 
                <div class="form-control-feedback" *ngFor="let error of errors.email">{{ error }}</div>        
            </div>
          </div>  
          <div class="form-group">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary">
                {{ 'Send' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
