<!--
<div class="card" *ngIf="course">
  <div class="card-block">
    <h4 class="card-title">{{ course.name }}</h4>
    <div [innerHTML]="course.content"></div>
    <h4 *ngIf="!course.user_has_access">{{ course.price }} грн. <a [routerLink]="['/course', course.id, 'buy']" class="btn btn-primary float-right">Купить</a></h4>
    <h4 *ngIf="course.user_has_access"><a [routerLink]="['/course', course.id]" class="btn btn-primary float-right">Войти</a></h4>
  </div>
</div>
-->
