<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Q-bit Online</a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
    <div class="navbar-nav">
      <div *ngFor="let item of items" (click)="!item.handler || item.handler()">
        <a class="nav-item nav-link" *ngIf="!item.absolute && item.link" [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
        <a class="nav-item btn btn-success" *ngIf="item.absolute && item.link" href="{{ item.link }}">{{ item.title }}</a>
        <a class="nav-item nav-link" *ngIf="!item.link" href="javascript:void(0);">{{ item.title }}</a>
      </div>
    </div>
  </div>
  <app-language-picker></app-language-picker>
</nav>
<div class="container mb-3">
  <app-breadcrumbs></app-breadcrumbs>
</div>
