.conversation-preview-avatar-box {
  width: 55px;
}

.conversation-preview-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: right;
}

.conversation-preview-first-message-box {
  width: calc(100% - 85px);
  padding-left: 15px;
}

.conversation-preview-message-text {
  word-wrap: break-word;
  display: inline-block;
}

.conversation-preview-message-author {
  display: inline-block;
  width: 100%;
}

.conversation-preview-message-time-box {
  display: inline-block;
  float: right;
}

.conversation-preview-message-time {
  color: #7b7b7b;
  font-family: monospace;
}

.clickable {
  color: black;
}

.clickable:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}

.conversation-preview-message-new {
  font-weight: bold;
}
