
<div class="card mb-1">
  <a *ngIf="loaded" [routerLink]="[conversation.id]" class="clickable">
    <div class="card-block">
      <div class="row">
        <div class="conversation-preview-avatar-box">
          <div>
            <img class="conversation-preview-avatar" [src]="picture">
          </div>
        </div>

        <div class="conversation-preview-first-message-box">
          <div class="conversation-preview-message-author">
            <span style="font-size: 18px;">{{ header }}</span>
            <div class="conversation-preview-message-time-box">
              <div class="conversation-preview-message-time">{{ lastMessage.created_at | messageDate }}</div>
            </div>
          </div>
          <div class="conversation-preview-message-text" [ngClass]="{'conversation-preview-message-new' : conversation.unread_count > 0}">{{ lastMessage.user.name }}: {{ lastMessage.message }}</div>
        </div>
      </div>
    </div>

  </a>
</div>
