
/* You can add global styles to this file, and also import other style files */


.body {
  margin: 0;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 0.1;
}

.o-2 {
  opacity: 0.2;
}

.o-3 {
  opacity: 0.3;
}

.o-4 {
  opacity: 0.4;
}

.o-5 {
  opacity: 0.5;
}

.o-6 {
  opacity: 0.6;
}

.o-7 {
  opacity: 0.7;
}

.o-8 {
  opacity: 0.8;
}

.o-9 {
  opacity: 0.9;
}

.custom-notification {
  min-height: 70px;
}

.simple-notification.success {
  background: #5cb85c;
  border-radius: .25em;
}

.simple-notification .sn-progress-loader span {
  border-radius: .25em;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.fa-star {
  color: gold;
}

#liqpay_widget_popup_iframe {
  overflow-y: scroll;
  height: 90%;
}

.loader,
.loader:before,
.loader:after {
  background: #0275d8;
  -webkit-animation: load1 0.5s infinite ease-in-out;
  animation: load1 0.5s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #0275d8;;
  text-indent: -9999em;
  margin: 4px auto;
  position: relative;
  font-size: 4px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.load-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 18px;
  height: 24px;
  float: left;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #0275d8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #0275d8, 0 0 5px #0275d8;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
