<div *ngIf="problem">
  <div class="card mb-3">
    <div class="card-block">
      <h2 class="card-title">
        <span>{{ problem.name }}</span>
        <span>
          <i class="fa fa-star ml-1" *ngFor="let a of problem.difficultyArray"></i>
        </span>
        <button class="btn btn-primary pull-right mb-3" (click)="discuss()" *ngIf="isStudent">{{ 'Ask a question' | translate }}
        </button>
      </h2>
      <div class="text-center">
        <img [src]="problem.image" max-width="100%">
      </div>
    </div>
  </div>
  <div class="card mb-3" *ngIf="newSolution">
    <div class="card-block">
      <h4 class="card-title">
        <span>{{ 'Send solution' | translate }}</span>
      </h4>
      <form (ngSubmit)="onSolutionSubmit()">
        <div class="form-group">
          <label for="programming_language">{{ 'Programming language' | translate }}</label>
          <select name="programmingLanguage" [(ngModel)]="newSolution.programming_language"
                  class="form-control" id="programming_language" required>
            <option *ngFor="let lang of problem.programming_languages" [ngValue]="lang">{{ lang.title }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="programming_language">{{ 'Code' | translate }}</label>
          <app-ace-editor class="ace-editor"
                          *ngIf="newSolution.programming_language"
                          [mode]="newSolution.programming_language.ace_mode" [code]="codeFromFile"
                          (codeChange$)="newSolution.code = $event"></app-ace-editor>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{ 'Send' | translate }}</button>
          <span class="pull-right">
            <label>{{ 'Or load solution from the file' | translate }}</label>
            <input type="file" (change)="onSolutionFileAdded($event)">
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-3" *ngIf="solutions.length">
    <div class="card-block">
      <h4 class="card-title">
        <span>{{ 'Previous solutions' | translate }}</span>
      </h4>
    </div>
    <table class="table mb-1">
      <thead>
      <tr>
        <th style="text-align: center;">{{ 'ID' | translate }}</th>
        <th style="text-align: center;">{{ 'Date' | translate }}</th>
        <th style="text-align: center;">{{ 'Results' | translate }}</th>
        <th style="text-align: center;">{{ 'Points' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let solution of solutions">
        <td style="text-align: center;"><a [routerLink]="['solutions', solution.id]">{{ solution.id }}</a></td>
        <td style="text-align: center;">
          {{   solution.created_at }}
        </td>
        <td style="text-align: center;">
          <a [routerLink]="['solutions', solution.id]">
            <span *ngFor="let status of solution.statuses" class="mr-1 badge badge-{{ status.code == 'OK' ? 'success' : 'danger' }}">{{ status.code }}</span>
            <span *ngIf="!solution.statuses.length">-</span>
          </a>
        </td>
        <td style="text-align: center;">
          <a [routerLink]="['solutions', solution.id]">
            {{ solution.success_percentage !== null ? solution.success_percentage : '-' }}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mr-3 pull-right">
      <ngb-pagination [collectionSize]="solutionService.pageData.total"
                      [page]="solutionService.pageData.current_page"
                      [pageSize]="solutionService.pageData.per_page"
                      (pageChange)="pageChange($event)"></ngb-pagination>
    </div>
  </div>
</div>
