<table *ngIf="group.solutions.length; else loader" class="table-striped">
    <thead>
    <tr>
        <th>{{ 'ID' | translate }}</th>
        <th>{{ 'Sent at' | translate }}</th>
        <th>{{ 'Status' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let solution of group.solutions">
        <td>
            <a [routerLink]="['/curator', 'courses', group.course_id, 'modules', group.module_id,
             'problems', group.problem_id, 'solutions', solution.id]">
                {{ solution.id }}
            </a>
        </td>
        <td>{{ solution.created_at }}</td>
        <td>{{ solution.status.code }}</td>
    </tr>
    </tbody>
</table>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
