<h4 class="card-title">{{ 'Congratulations' | translate }}!</h4>
<p>
  {{ 'The course is successfully paid, now you can monitor the progress of your child in the Personal Cabinet.' | translate }}
</p>
