<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'id' | translate }}</th>
        <th>{{ 'Student' | translate }}</th>
        <th>{{ 'Created at' | translate }}</th>
        <th>{{ 'Happened at' | translate }}</th>
        <th>{{ 'Action' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of interviews">
        <td>{{ i.id }}</td>
        <td>{{ i.student.name }}</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.completed }}</td>
        <td>
            <button class="btn btn-primary" *ngIf="!i.completed"
                    routerLink="/curator/courses" [queryParams]="{studentId: i.student_id}"
                    (click)="complete(i)">{{ 'Complete' | translate }}
            </button>
        </td>
    </tr>
    </tbody>
</table>